$mobile-view: 375px;
$desktop-view: 1440px;

// Colors

// Primary

$Light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

// Neutral

$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

// Typography

$font-size: 28px;

body {
  font-family: "Manrope", sans-serif;

  // box-model stuff

  display: grid;
  place-content: center;
  background-color: $dark-blue;
  // border: 2px solid red;
}

.advice {
  // box-model stuff

  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 86%;
  // margin: 0 auto;
  left: 0;
  right: 0;
  // min-width: 15rem;
  max-width: 25rem;
  padding: 2rem 1rem 0rem;
  margin: 25vmax auto 10vmax;
  border-radius: 0.8rem;
  background-color: $dark-grayish-blue;

  //   Typography
  color: $Light-cyan;

  &__id {
    // Typography stuff
    font-size: 1rem;
    color: $neon-green;
    letter-spacing: 3px;
    font-weight: 600;

    // Box-model stuff

    margin-bottom: 0;
  }
  &__text {
    // Typography stuff

    line-height: 2.4rem;
    font-size: $font-size;
    font-weight: 800;
    text-align: center;
  }
  &__divider {
    width: 100%;

    // make the divider-svg take the whole width of it's parent
    * {
      width: 100%;
    }
  }

  &__btn {
    // Box-model stuff
    width: 4.8rem;
    height: 4.8rem;
    display: grid;
    place-content: center;
    background-color: $neon-green;
    border: none;
    border-radius: 50%;
    // use translate instead of transform:translate  because Framer-motion
    // is over writing transform rules;
    translate: 0 50%;

    &:focus {
      box-shadow: 0 0 15px $neon-green;
      outline: none;
    }
    svg {
      width: 1.75rem;
    }
  }

  @media all and (min-width: $desktop-view) {
    max-width: 40vmax;
    margin-top: 10vmax;

    &__text {
      margin-bottom: 2.8rem;
    }
    &__divider {
      text-align: center;
    }
    &__btn {
      width: 3.9rem;
      height: 3.9rem;
      svg {
        width: 1.5rem;
      }
    }
  }
}

[data-loading="loading"] {
  animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
  0% {
    box-shadow: 0 0 20px $neon-green;
  }
  50% {
    box-shadow: 0 0 0px $neon-green;
  }
  100% {
    box-shadow: 0 0 20px $neon-green;
  }
}
